*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
}
.main{
    width: 100wh;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
}
.main .leftspace{
    width: 21%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    padding: .5% 0 .5%.5%;
    
}
.leftspace .leftsidebar{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.l-navbar1{
    background-color: rgb(19, 19, 19);
    /* margin: 1%; */
    border-radius: 8px;
    padding: 10px;
}
.navlink{
    width: 100%;
    padding: 10px;
}
.navlink a .active{
    color: white;
    opacity: 1;
}
.navlink  a p:hover{
    color: white;
    opacity: 1;
}
.navlink a{
    display: flex;
    align-items: center;
    text-decoration: none;
    
}
.navlink p{
    font-size: 16px;
    font-weight: 700;
    color: rgb(106, 106, 106);
    transition: .4s;
}
.navlink a img{
    opacity: 0.6;
    width: 9%;
    padding-left:1px ;
    margin-right: 8%;
    transition: .4s;
}
.leftsidebar .l-navbar2{  
    background-color: rgb(19, 19, 19);
    /* margin: 1%; */
    border-radius: 8px;
}
.l-navbar2 .lib{
    padding: 15px 10px 15px 20px;
}
.lib a img{
    opacity: 0.6;
    width: 10%;
    padding-left:1px ;
    margin-right: 5%;
    transition: .4s;
}
.l-navbar2 .leftbarscroll{
    width: 100%;
    height: 41vh;
    background-color: rgb(19, 19, 19);
    padding: 10px;
    overflow: hidden;
    overflow-y: scroll;
}
.leftbarscroll .leftbarscroll-box1{
    width: 100%;
    background-color: rgb(39, 39, 39);
    padding: 4% 6% 10% 6%;
    margin-bottom: 10px;
    border-radius: 8px;
}
.leftbarscroll-box1 p{
    font-weight: 700;
    margin-bottom: 5%;
    color: white;
}
.leftbarscroll-box1 h3{
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 10%;
    color: white;
}
.leftbarscroll-box1 a{
    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 7px 10px;
    font-size: 15px;
    font-weight: 500;
}
.leftbarscroll .leftbarscroll-box2{
    width: 100%;
    background-color: rgb(39, 39, 39);
    padding: 4% 6% 10% 6%;
    border-radius: 8px;
}
.leftbarscroll-box2 p{
    font-weight: 700;
    margin-bottom: 5%;
    color: white;
}
.leftbarscroll-box2 h3{
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 10%;
    color: white;
}
.leftbarscroll-box2 a{
    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 7px 7px;
    font-size: 14px;
    font-weight: 500;
}
.otherlink{
    width: 100%;
    padding: 30px 20px 20px 27px;
}
.otherlink a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.785);
    font-size: 11px;
    
}
.lang{
    padding: 10px 20px 43px 20px;
}
.lang img{
    width: 20px;
    margin-right: 5px;
}
.lang a{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 3px 20px;
}


.main .rightspace{
    width: 79%;
    height: 89vh;
    background-color: rgb(0, 0, 0);
    padding: .5%;
    
}
.rightspace .rightbox{
    width: 100%;
    height: 100%;
    background-color: rgb(36, 36, 36);
    border-radius: 8px;
}
.r-navbar{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.626);
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.arrow a i{
    opacity: .5;
    font-size: 20px;
    margin-right: 20px;
    transition: .4s;
}
.arrow a i:hover{
    opacity: 1;
}
.signuplogin .sign{
    text-decoration: none;
    color: rgb(142, 142, 142);
    font-weight: 800;
}
.signuplogin .sign:hover{
    color: white;
    transition: .4s;
}
.log{
    text-decoration: none;
    color: black;
    font-weight: 800;
    margin-left: 20px;
    padding: 15px 30px;
    background-color: white;
    border-radius: 1.8rem;
    transition: .4s;
}
.log:hover{
    background-color: rgba(255, 255, 255, 0.879);
    transform: scale(1.8);
}
.rightbox .rightcontaintbox{
    background-color: blueviolet;
    width: 100%;
    height: 100%;
}